@charset "utf-8";

$maincolor      : #53493d;
$subcolor       : #7D6950;
$acolor         : #E15037 ;
$sidepadding    : 2%;
$max-width      : 1300px;


//宣言いろいろ　webフォントって本当に使って良いのか…？
html{
    .font-noto {
        font-family: "Noto Serif JP", serif; 
        color: $subcolor;
        font-feature-settings: "palt";
    }
    .font-amiri{
        font-family: 'Amiri', serif;
        color: $subcolor;
        font-feature-settings: "palt";
    }
    .cb{
        clear:both;
    }
    a{
        text-decoration : none;
        &:link, &:visited, &:hover, &:active{
            color : $subcolor;	
        }
        &:hover{
            opacity: 0.6;
        }
    }
}
//メインビジュアル　svg、重くないか心配→仮でpngにした ちょいぼけるからsvgで軽くできないか試すmax150kb
//png、配置の解釈がsvgと違うくない？ ウィンドウ細くしたときの表示崩れ直す
.top{
        position: relative;
        margin-top      : 100px;
        height          : 600px;
        img{
            height : 90%;
            position: absolute;
            margin : auto;
            top:0%;
            right:50%;
            transform: translateX(50%);
        }
        h1{
            position: absolute;
            top :38%;
            transform: translateY(-50%);
            left:50%;
            transform: translateX(-50%);

            text-align: center;
            font-weight : bold;
            color : $acolor;
            font-size: 27px;
            letter-spacing: 0.19em;
            line-height: 2em;
            padding:20px 0;
            span{
                line-height: 1.2em;
                display: block;
                font-weight: lighter;
                font-size: 16px;
                letter-spacing: 0.02em;
            }
        }
    
}

//メイン表示のタブ内要素-----------------------------------------
.container{
    position: absolute;
    top : 740px;
    width:100%;
    max-width: 1300px;
    left:50%;
    transform: translateX(-50%);
    font-size       : 20px;
    input:checked + .Tab-item {
        color:$acolor;
        font-weight: bold;
        border-bottom: 1px solid $acolor;
    }
}
.Tab-item, .Link-item{  //領域切り替え用タブのデザイン
    margin:0 10px 0 $sidepadding;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    float: right;
    &:hover{
        opacity: 50%;
    }
  }
.Link-item{
    margin-right: $sidepadding*3;
}
.file{
    display: none;
}
#Tab-Works:checked ~ #works,
#Tab-Profile:checked ~ #profile,
#Tab-Contact:checked ~ #contact{
    display: block;
}

.main-area{
    min-height: 2200px;
    //メインエリア内見出しh1
    & .cate{
        text-align      : left;
        font-weight     : normal;
        font-size       : 27px ;
        margin          : 100px auto 30px $sidepadding;
        img{
            margin: 0 -8px -6px $sidepadding ;
            height:75px;
        }
    }
}
#letter-space-1{
    letter-spacing: 0.08em; //WORKS h1 カーニング
}
#letter-space-2{
    letter-spacing: 0.12em; //PROFILE h1 カーニング
}
#letter-space-3{
    letter-spacing: 0.05em; //CONTACT h1 カーニング
}
#Instagram{ 
    position:absolute;
    margin: 20px 50% 0 50%;
    transform:translateX(-50%);
    border:1px solid #E15037;
    color: $acolor;
    padding:10px 15px;
    font-size:16px;
    border-radius: 20px;
}
/*--------------------------------------------------------------------------------WORKS*/
//タブのラベルにフォントの設定親要素に指定すれ 複数クラスの指定ミスってただけ
//WORKS内タブのデザイン
.tabs{
    width: 84%;
    max-width: $max-width;
    margin: 0 auto;
}
.tab-item{
    width: calc(100%/3);
    height: 50px;
    border-bottom: 2px solid $acolor;
    font-size: 20px;
    text-align: center;
    color: $subcolor;
    float: left;
    &:hover {
        opacity: 0.5;
    }
    & p{
        line-height: 50px;
    }
}
.tabs input:checked + .tab-item {
    border:2px solid $acolor;
    color:$acolor;
    font-weight: bold;
}
input[name="tab-item"], input[name="Tab-item"]{
    display: none;
}
.tab-content {
    display: none;
    padding: 10px 0 ;
    clear: both;
    overflow: hidden;
  }
#Other:checked ~ #other,
#Graphic-Design:checked ~ #graphic-design,
#Web-Design:checked ~ #web-design {
  display: block;
}

//-------------------------------------------------------WORKSのコンテンツ
.works-container{ 
    position:relative;
    display: flex;
    justify-content: center; //空きスペースができるときは中央揃え
    flex-wrap: wrap;         //親要素の幅を超えたら折返し
   .item{
        line-height: 27px;
        font-size:18px;
        letter-spacing: 0.05em;
        margin: 10px 0;
        width: 100%;
        height:150px;
        border-radius: 10px;
        overflow:hidden;
        /****確認用****/
        //opacity:30%;
        background-color: #fff;
        /****ここまで****/
    }
    .square{
        position:absolute;
        width:1300px;
        height:400px;
        background-color: #000;
        opacity: 50%;
    }
}
.lead{
    h2{
        margin:90px 0 0 $sidepadding*3;
        font-size: 25px;
    }
    p{
        text-align:center;
        font-size:16px;
        line-height: 28px;
        margin: 20px $sidepadding*4 0 $sidepadding*4;
    }
}
//---------------------------------------------------イラストの仕事
//-------------------------ここのスタイルある程度固まったらmixinにする
#sqil01{
    transform: rotate(-120deg);
    left:-400px;
}
.il01{
    position: relative;
    p{
        padding: 5px 10px 5px 10px;
        position:absolute;
        color:#fff;
        bottom:50%;
        transform: translateY(50%);
        left:25px;
    }
}
.il02{
    position: relative;
    border:1px solid lighten($subcolor,50%);
}
#sqil03{
    opacity:70%;
    transform: rotate(-14deg);
    top:-300px;
    left:-40px;
}
.il03{
    position: relative;
    p{
        padding: 5px 10px 5px 10px;
        position:absolute;
        color:#fff;
        bottom:50%;
        transform: translateY(50%);
        left:25px;
    }
}
.il04{
    position: relative;
    border:1px solid lighten($subcolor,50%);
    p{
        position:absolute;
        color:#000;
        font-size: 16px;
        background-color:rgba(255,255,255,0.8);
        padding: 5px 10px 5px 10px;
        bottom:50%;
        transform: translateY(50%);
        left:25px;
    }
}
//----------------------------------------------------PROFILEのコンテンツ

.profile-container{
    position: relative;
    width: 80%;
    min-width: 800px;
    height:370px;
    padding: 0px $sidepadding*4 0 $sidepadding*4;
    margin: 100px 0 0 0 ;
    left: 50%;
    transform: translateX(-45%);
    font-size:15px;
    #snap{
        position: relative;
        text-align: center;
        float:left;
        width:200px;
        height:350px;
        margin-right: 50px;
        img{
            display: block;
            height:200px;
            margin-top: 5px;
            //border: 1px solid $maincolor;
        }
        h2{
            margin-top:40px;
            font-size:20px;
            line-height: 30px;
            letter-spacing: 0.2em;
            span{
                display: block;
                font-size:16px;
                letter-spacing: 0.2em;
            }
        }

    }
    #intro{
        line-height:26px;
    }
    #elem{
        margin: 8px 3px 0 0 ;
        float:left;
        width:500px;
        display: block;
        text-align:left;
        font-size:14px;
        h4{
            font-size:16px;
            line-height: 30px;
            padding:10px;
            margin:3px;
        }
        p{
            float:left;
            padding:10px;
            margin:3px;
            border-radius: 15px;
            background-color: lighten($subcolor, 55%);
        }
    }

}
#mail{
    margin: 100px 0 0 0 ;
    text-align: center;

    img{
        margin-top: 10px;
        width: 100px;
        height: 100px;
    }
}

/*--------------------------------------------------------------------------------Footer*/
footer{
    background-color: lighten($maincolor, 50%);
    height: 150px;
    text-align: center;
    small p{
        padding: 100px 0 50px 0;
        color : #fff;
        line-height : 20px;
    }

}

